/**
 * Layout Component Demo Style for Uxcore
 * @author 
 *
 * Copyright 2014-2015, Uxcore Team, Alinw.
 * All rights reserved.
 */

 @import "../node_modules/uxcore-kuma/src/variables";
 @import "../src/Layout";

 .layoutDemo {
    // width: 1000px;
    .left {
        text-align: center;
        line-height: 200px;
        font-size: 32px;
        background: lightblue;
    }
    .right {
        text-align: center;
        line-height: 200px;
        font-size: 32px;
        background: yellowgreen;
    }
    &.fixed {
        min-width: 1000px;
    }

 }

 p {
    font-size: 24px;
}

.demo4 {
    min-height: 1000px;
    .f-dn {
        display: none;
    }
    .demo-updown {
        line-height: 36px;
        display: inline-block;
    }
    .kuma-button {
        margin-left: 20px;
    }
    .kuma-label {
        width: 45px;
    }
}